@page "/about-us"
@layout MainLayout

<main class="about-us-page">
    <div class="about-us-header">
        <h1>About Us</h1>
        <div class="about-us-line"></div>
    </div>

    <div class="about-us-name-container">
        <h2 class="program-name">AESOL</h2>
        <p class="program-name-full">Automated Electrical Schedule of Loads</p>
    </div>

    <h6 class="program-description">
        A program designed to assist Electrical Engineers in making electrical schedule of loads through rapid calculation of electrical component ratings based on Philippine Electrical Code 2017 Part 1.
    </h6>

    <div class="who-we-are">
        <h3>Who We Are</h3>

        <div class="who-we-are-members">
            <div class="who-we-are-person">
                <p class="person-name">Raphael Joseph J. Cacanog</p>
                <div class="person-line"></div>
                <p class="person-description">Research Leader, BSEE Student</p>
            </div>

            <div class="who-we-are-person">
                <p class="person-name">Rheuby Grant D. Cariño</p>
                <div class="person-line"></div>
                <p class="person-description">Member, BSEE Student</p>
            </div>

            <div class="who-we-are-person">
                <p class="person-name">Justine Jacob P. Ramon</p>
                <div class="person-line"></div>
                <p class="person-description">Member, BSEE Student</p>
            </div>
        </div>

        <div class="who-we-are-person">
            <p class="person-name">Engr. Vince Jebryl G. Montero</p>
            <div class="person-line"></div>
            <p class="person-description">Research Advisor</p>
        </div>
    </div>
    
    <div class="about-us-sticker">
        <img src="school_logo.png" alt="school logo"/>
        <h5>A CAPSTONE PROJECT</h5>
    </div>
</main>

@code {

}