@page "/about-us"

<main class="about-us">
    <header>
        <h1>About Us</h1>

        <NavLink href="/" class="link-primary">
            <span>Back</span>
        </NavLink>
    </header>

    <div class="about-us-content">
        <p>About Us Content</p>
    </div>
</main>

@code {

}