@page "/"

<main class="home">
    <header>
        <h1>Projects</h1>

        <div class="home-controls">
            <input placeholder="Search project..."/>
            <button class="btn-primary" @onclick="OpenModal">Create New Project</button>
        </div>
    </header>

    <div class="project-list">
        @if (projectList.Any())
        {
            @foreach (var project in projectList)
            {
                <div class="project">
                    <h2>@project</h2>
                    <p>Project description</p>
                </div>
            }
        }
        else
        {
            <div class="project-list-empty">
                <p>No projects found.</p>
            </div>
        }
    </div>

    <div class="about-us-container">
        <NavLink href="about-us">
            <span>About Us</span>
        </NavLink>
    </div>
</main>

<CreateProjectModal @bind-IsOpen="@_isCreateProjectModalOpen"/>

@code {
    readonly List<string> projectList = []; // TODO: Fetch projects from API
    private bool _isCreateProjectModalOpen;

    void OpenModal()
    {
        _isCreateProjectModalOpen = true;
    }

}