@page "/"
@using automated_electrical_schedule.Data
@using Microsoft.EntityFrameworkCore
@layout HomeLayout
@inject DatabaseContext DatabaseContext

<main class="projects-page">
    <header>
        <div class="projects-controls">
            <input placeholder="Search project..."/>
            <button class="btn-primary" @onclick="OpenModal">Add New Project</button>
        </div>

    </header>

    <div class="projects-list">
        @if (_projects.Count > 0)
        {
            @foreach (var project in _projects)
            {
                <div class="project">
                    <h2>@project</h2>
                    <p>Project description</p>
                </div>
            }
        }
        else
        {
            <div class="projects-list-empty">
                <p>No projects found.</p>
            </div>
        }
    </div>
</main>

@if (_isCreateProjectModalOpen)
{
    <CreateProjectModal @bind-IsOpen="@_isCreateProjectModalOpen"/>
}


@code {
    private List<Project> _projects = [];
    List<ConductorType> _conductorTypes = [];
    private bool _isCreateProjectModalOpen;

    void OpenModal()
    {
        _isCreateProjectModalOpen = true;
    }

    protected override async Task OnInitializedAsync()
    {
        _projects = await DatabaseContext.Projects.ToListAsync();
    }

}