.board-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.125rem;
    white-space: nowrap;

    .project-crumb, .current-crumb {
        font-weight: 600;
    }
    
    .project-crumb {
        color: rgb(0, 128, 0, 0.8);
    }
    
    .current-crumb {
        text-decoration: underline;
    }

    .crumb-separator {
        path {
            color: var(--clr-neutral-400);
        }
    }
}