.board-table-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    padding: 0;
    background-color: white;
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-md);

    .board-table-card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        button {
            &.btn-primary {
                padding: 0.75rem 1rem;

            }
        }
    }

    .board-table {
        --board-table-col-count: 22;

        flex-grow: 1;
        flex-basis: 1px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(var(--board-table-col-count), auto);
        grid-template-rows: min-content 1fr min-content;
        overflow: auto;

        &, & * {
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                display: none;
            }
        }

        & * {
            white-space: nowrap;
        }

        p {
            font-weight: 500;
            color: var(--clr-neutral-400);
        }

        .separator {
            width: 1px;
        }

        .cell-sticky {
            position: sticky;

            &.cell-sticky--left {
                left: 0;
            }

            &.cell-sticky--right {
                right: 0;
            }
        }

        .board-table-header {
            position: sticky;
            top: 0;
            z-index: 1;
            display: grid;
            grid-row: 1 / span 1;
            grid-column: 1 / span var(--board-table-col-count);
            grid-template-columns: subgrid;
            grid-template-rows: repeat(2, min-content);
            border-top: 1px solid var(--clr-neutral-300);
            border-bottom: 1px solid var(--clr-neutral-300);

            & > * {
                align-self: center;
                background-color: var(--clr-neutral-50);
                height: 100%;
            }

            & *:not(.separator) {
                padding-inline: 1.5rem;
            }

            .board-table-head, .separator {
                grid-column: span 1;
                grid-row: 1 / span 2;
            }

            .separator {
                height: 2.25rem;
                border-left: 1px solid var(--clr-neutral-300);
            }

            .board-table-head {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 1.5rem;
            }

            .board-table-head-group, .board-table-head-group-item {
                grid-row: span 1;
            }

            .board-table-head-group {
                text-transform: uppercase;
                font-size: 0.8125rem;
                padding-block: 0.75rem;
                grid-row-start: 1;

                &.board-table-head-group--one {
                    grid-column: span 7;
                }

                &.board-table-head-group--two {
                    grid-column: span 4;
                }
            }

            .board-table-head-group-item {
                padding-bottom: 1rem;
                grid-column: span 1;
                grid-row-start: 2;
            }
        }

        .board-table-body {
            grid-row-start: 2;
            display: grid;
            grid-row: 2 / span 1;
            grid-column: 1 / span var(--board-table-col-count);
            grid-template-columns: subgrid;
            grid-auto-rows: min-content;
            align-items: start;
            /*overflow-y: auto;*/

            .board-table-row {
                display: grid;
                grid-row: span 1;
                grid-column: 1 / span var(--board-table-col-count);
                grid-template-columns: subgrid;
                grid-auto-rows: min-content;

                & > * {
                    background-color: white;
                }

                & > *:not(.separator) {
                    padding: 1.5rem;
                }
            }
        }

        .board-table-footer {
            position: sticky;
            bottom: 0;
            display: grid;
            grid-row: 3 / span 1;
            grid-column: 1 / span var(--board-table-col-count);
            grid-template-columns: subgrid;
            background-color: white;
            border-top: 1px solid var(--clr-neutral-300);

            & > * {
                background-color: white;
            }

            & > *:not(.separator) {
                padding: 1.5rem;
            }
        }
    }
}