<div class="card board-size-card">
    @* <div class="board-size"> *@
    @*     <div class="board-size-label"> *@
    @*         <p>Size of Circuit Protection</p> *@
    @*     </div> *@
    @* *@
    @*     <div class="board-size-content"> *@
    @*         <p>Use XX</p> *@
    @*     </div> *@
    @* </div> *@
    @* *@
    @* <div class="board-size"> *@
    @*     <div class="board-size-label"> *@
    @*         <p>Size of Wire</p> *@
    @*     </div> *@
    @* *@
    @*     <div class="board-size-content"> *@
    @*         <p>Use XX</p> *@
    @*     </div> *@
    @* </div> *@
</div>

@code {
    [Parameter] public DistributionBoard DistributionBoard { get; set; } = default!;
}