.board-specs {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.5rem;

    .board-spec {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        label {
            color: var(--clr-neutral-500);
        }

        h5 {
            color: var(--clr-neutral-700);
            font-weight: 400;
        }
    }
}
