.board-table-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    padding: 0;
    background-color: white;
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-md);

    button {
        padding: 0.75rem 1rem;
    }

    .board-table-card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .board-table {
        --board-table-col-count: 22;

        flex-grow: 1;
        flex-basis: 1px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(var(--board-table-col-count), auto);
        grid-template-rows: min-content 1fr min-content;
        overflow: auto;
        overscroll-behavior: none;
        scrollbar-width: none;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-button,
        &::-webkit-scrollbar-corner,
        &::-webkit-scrollbar-track-piece,
        &::-webkit-resizer {
            width: 0;
            height: 0;
            display: none;
        }

        .cell {
            white-space: nowrap;

            &.cell--text {
                padding-inline: 1rem 2rem;
            }

            &.cell--separator {
                position: relative;
                width: 1rem;
                height: 75%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.cell--buttongroup {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 0.5rem;
                padding-inline: 1rem;
            }

            &.cell--sticky {
                position: sticky;
                z-index: 1;
            }

            &.cell--sticky--left {
                left: 0;
            }

            &.cell--sticky--right {
                right: 0;
            }
        }

        .board-table-head, .board-table-rows, .board-table-footer, .board-table-row {
            grid-column: 1 / span var(--board-table-col-count);
            grid-row: span 1;
            display: grid;
            grid-template-columns: subgrid;
            align-items: center;
        }

        .board-table-head, .board-table-footer {
            position: sticky;
            z-index: 2;
            background-color: var(--clr-neutral-50);
            border-block: 1px solid var(--clr-neutral-300);

            .cell {
                background-color: var(--clr-neutral-50);

                &.cell--text, &.cell--subtext {
                    color: var(--clr-neutral-400);
                }

                &.cell--separator {
                    &::after {
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: var(--clr-neutral-200);
                        content: '';
                    }
                }
            }
        }

        .board-table-head {
            top: 0;
            padding-block: 0.75rem 1rem;

            .cell--text {
                display: flex;
                place-items: center;
                height: 100%;
            }

            .board-table-head-colgroup {
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: subgrid;
                grid-row-gap: 0.75rem;

                .board-table-head-colgroup-title {
                    grid-row: 1 / span 1;
                    font-size: 0.8125rem;
                    text-transform: uppercase;
                }

                .board-table-head-colgroup-cols {
                    display: grid;
                    grid-template-columns: subgrid;
                }

                &.board-table-head-colgroup--circuit-protection {
                    grid-column: span 7;

                    .board-table-head-colgroup-title, .board-table-head-colgroup-cols {
                        grid-column: span 7;
                    }
                }

                &.board-table-head-colgroup--conductor-size {
                    grid-column: span 4;

                    .board-table-head-colgroup-title, .board-table-head-colgroup-cols {
                        grid-column: span 4;
                    }
                }
            }
        }

        .board-table-rows {
            .board-table-row {
                padding-block: 1.5rem;

                .cell {
                    background-color: white;

                    &.cell--text {
                        color: var(--clr-neutral-700);
                    }
                }
            }
        }

        .board-table-footer {
            bottom: 0;
            padding-block: 1rem;

            .cell:first-child {
                font-weight: 700;
            }
        }
    }
}