.computations {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    
    .computation-group {
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        
        .computation-subgroup {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            
            h4, .underline {
                text-decoration: underline;
            }
            
            h6 {
                padding-top: 1rem;
            }
        }
    }
}