<div class="tooltip-wrapper">
    @ElementContent
    
    <div class="tooltip @PlacementClass">
        @TooltipContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ElementContent { get; set; } = default!;
    [Parameter] public RenderFragment TooltipContent { get; set; } = default!;
    [Parameter, EditorRequired] public TooltipPlacement Placement { get; set; } = TooltipPlacement.Right;
    
    string PlacementClass => Placement switch
    {
        TooltipPlacement.Top => "tooltip--top",
        TooltipPlacement.Bottom => "tooltip--bottom",
        TooltipPlacement.Left => "tooltip--left",
        TooltipPlacement.Right => "tooltip--right",
        TooltipPlacement.BottomLeft => "tooltip--bottom-left",
        TooltipPlacement.BottomRight => "tooltip--bottom-right",
        _ => "tooltip-right"
    };
}