.create-or-edit-circuit-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;

    .create-or-edit-circuit-modal-content-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        
        .create-or-edit-circuit-modal-content-categories {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            
            select {
                width: 20rem;
            }
        }

        .create-or-edit-circuit-modal-content-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 1rem;
        }
    }

    .create-or-edit-circuit-modal-content-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 4rem;

        .create-or-edit-circuit-modal-content-fields {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 1rem;
            
            .create-or-edit-circuit-modal-checkbox {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 0.25rem;
            }

            .create-or-edit-circuit-modal-field-row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

                & > * {
                    flex-grow: 1;
                }
            }

            .create-or-edit-circuit-modal-field {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                gap: 0.25rem;

                label {
                    color: var(--clr-neutral-500);
                }
            }
        }
        
        .create-or-edit-circuit-modal-fixtures {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 0.5rem;
            
            .create-or-edit-circuit-modal-fixtures-head {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

                button {
                    padding-block: 0.25rem;
                }
            }
        }
    }

}
