@inherits LayoutComponentBase

<div class="layout home-layout">
    <MainNavMenu @bind-IsNavMenuMinimized="_isNavMenuMinimized"/>

    <div class="page @(_isNavMenuMinimized ? "page-full" : "")">
        @Body
    </div>
</div>

@code {
    private bool _isNavMenuMinimized;
}