<nav class="home-nav">
    <h1>Automated Electrical Schedule of Loads</h1>

    <div class="home-nav-links">
        <NavLink class="home-nav-link" href="/" Match="NavLinkMatch.All">
            <span>Projects</span>
        </NavLink>

        <NavLink class="home-nav-link" href="/about-us">
            <span>About Us</span>
        </NavLink>
    </div>
</nav>