.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 1rem 1.5rem;

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 4rem;

        .projects-controls {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            form {
                flex-grow: 1;

                input {
                    width: 100%;
                }
            }
        }
    }

    .projects-list {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        user-select: none;
        -webkit-user-select: none;
        overflow-y: auto;

        .project {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 1.5rem 1.5rem 1.5rem 1rem;
            border-radius: var(--radius-default);
            cursor: pointer;
            
            .project-details {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
                h5 {
                    font-weight: 500;
                }
                
                .project-descriptors {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5rem;
                    
                    .project-badge {
                        border-radius: 0.5rem;
                        padding: 0.25rem 0.5rem;
                        font-size: 0.9rem;
                        
                        &.badge-single-phase {
                            background-color: springgreen;
                        }
                        
                        &.badge-delta {
                            background-color: gold;
                        }
                        
                        &.badge-wye {
                            background-color: orange;
                        }
                    }
                }
            }
            
            .project-buttons {
                display: flex;
                flex-direction: row;
                justify-items: flex-end;
                align-items: center;
                gap: 0.5rem;
                visibility: hidden;
            }
            
            &:hover {
                background-color: var(--clr-neutral-100);
                
                .project-buttons {
                    visibility: visible;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--clr-neutral-300);
            }
        }

        .projects-list-empty {
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}






