.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 1rem 1.5rem;

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 4rem;

        .projects-controls {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            form {
                flex-grow: 1;

                input {
                    width: 100%;
                }
            }
        }
    }

    .projects-list {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        user-select: none;
        -webkit-user-select: none;
        overflow-y: auto;

        .project {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1rem 1.5rem;
            border-radius: var(--radius-default);
            cursor: pointer;

            &:hover {
                background-color: var(--clr-neutral-200);
            }
        }

        .projects-list-empty {
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}






